AusiasMarc/WebApplication1/Web References/localhost/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginRecepcionist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idn" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginRecepcionistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginRecepcionistResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginClient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idn" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginClientResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginClientResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="allClients">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="allClientsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="allClientsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataRecepcionist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataRecepcionistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DataRecepcionistResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataClient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataClientResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DataClientResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataReserve">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="rol" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataReserveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DataReserveResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataReserveId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idRecepcionist" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataReserveIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DataReserveIdResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addReserve">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idRecepcionist" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idClient" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="arrivalDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="finishDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="typeRoom" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addReserveResponse">
        <s:complexType />
      </s:element>
      <s:element name="delReserve">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idRecepcionist" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delReserveResponse">
        <s:complexType />
      </s:element>
      <s:element name="updateReserve">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idRecepcionist" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idClient" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="arrivalDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="finishDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="typeRoom" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateReserveResponse">
        <s:complexType />
      </s:element>
      <s:element name="addClient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idn" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="surname" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pass" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="creditcard" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addClientResponse">
        <s:complexType />
      </s:element>
      <s:element name="delClient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delClientResponse">
        <s:complexType />
      </s:element>
      <s:element name="updateClient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idn" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="surname" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pass" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="creditcard" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateClientResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="LoginRecepcionistSoapIn">
    <wsdl:part name="parameters" element="tns:LoginRecepcionist" />
  </wsdl:message>
  <wsdl:message name="LoginRecepcionistSoapOut">
    <wsdl:part name="parameters" element="tns:LoginRecepcionistResponse" />
  </wsdl:message>
  <wsdl:message name="LoginClientSoapIn">
    <wsdl:part name="parameters" element="tns:LoginClient" />
  </wsdl:message>
  <wsdl:message name="LoginClientSoapOut">
    <wsdl:part name="parameters" element="tns:LoginClientResponse" />
  </wsdl:message>
  <wsdl:message name="allClientsSoapIn">
    <wsdl:part name="parameters" element="tns:allClients" />
  </wsdl:message>
  <wsdl:message name="allClientsSoapOut">
    <wsdl:part name="parameters" element="tns:allClientsResponse" />
  </wsdl:message>
  <wsdl:message name="DataRecepcionistSoapIn">
    <wsdl:part name="parameters" element="tns:DataRecepcionist" />
  </wsdl:message>
  <wsdl:message name="DataRecepcionistSoapOut">
    <wsdl:part name="parameters" element="tns:DataRecepcionistResponse" />
  </wsdl:message>
  <wsdl:message name="DataClientSoapIn">
    <wsdl:part name="parameters" element="tns:DataClient" />
  </wsdl:message>
  <wsdl:message name="DataClientSoapOut">
    <wsdl:part name="parameters" element="tns:DataClientResponse" />
  </wsdl:message>
  <wsdl:message name="DataReserveSoapIn">
    <wsdl:part name="parameters" element="tns:DataReserve" />
  </wsdl:message>
  <wsdl:message name="DataReserveSoapOut">
    <wsdl:part name="parameters" element="tns:DataReserveResponse" />
  </wsdl:message>
  <wsdl:message name="DataReserveIdSoapIn">
    <wsdl:part name="parameters" element="tns:DataReserveId" />
  </wsdl:message>
  <wsdl:message name="DataReserveIdSoapOut">
    <wsdl:part name="parameters" element="tns:DataReserveIdResponse" />
  </wsdl:message>
  <wsdl:message name="addReserveSoapIn">
    <wsdl:part name="parameters" element="tns:addReserve" />
  </wsdl:message>
  <wsdl:message name="addReserveSoapOut">
    <wsdl:part name="parameters" element="tns:addReserveResponse" />
  </wsdl:message>
  <wsdl:message name="delReserveSoapIn">
    <wsdl:part name="parameters" element="tns:delReserve" />
  </wsdl:message>
  <wsdl:message name="delReserveSoapOut">
    <wsdl:part name="parameters" element="tns:delReserveResponse" />
  </wsdl:message>
  <wsdl:message name="updateReserveSoapIn">
    <wsdl:part name="parameters" element="tns:updateReserve" />
  </wsdl:message>
  <wsdl:message name="updateReserveSoapOut">
    <wsdl:part name="parameters" element="tns:updateReserveResponse" />
  </wsdl:message>
  <wsdl:message name="addClientSoapIn">
    <wsdl:part name="parameters" element="tns:addClient" />
  </wsdl:message>
  <wsdl:message name="addClientSoapOut">
    <wsdl:part name="parameters" element="tns:addClientResponse" />
  </wsdl:message>
  <wsdl:message name="delClientSoapIn">
    <wsdl:part name="parameters" element="tns:delClient" />
  </wsdl:message>
  <wsdl:message name="delClientSoapOut">
    <wsdl:part name="parameters" element="tns:delClientResponse" />
  </wsdl:message>
  <wsdl:message name="updateClientSoapIn">
    <wsdl:part name="parameters" element="tns:updateClient" />
  </wsdl:message>
  <wsdl:message name="updateClientSoapOut">
    <wsdl:part name="parameters" element="tns:updateClientResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginRecepcionist">
      <wsdl:input message="tns:LoginRecepcionistSoapIn" />
      <wsdl:output message="tns:LoginRecepcionistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginClient">
      <wsdl:input message="tns:LoginClientSoapIn" />
      <wsdl:output message="tns:LoginClientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="allClients">
      <wsdl:input message="tns:allClientsSoapIn" />
      <wsdl:output message="tns:allClientsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DataRecepcionist">
      <wsdl:input message="tns:DataRecepcionistSoapIn" />
      <wsdl:output message="tns:DataRecepcionistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DataClient">
      <wsdl:input message="tns:DataClientSoapIn" />
      <wsdl:output message="tns:DataClientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DataReserve">
      <wsdl:input message="tns:DataReserveSoapIn" />
      <wsdl:output message="tns:DataReserveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DataReserveId">
      <wsdl:input message="tns:DataReserveIdSoapIn" />
      <wsdl:output message="tns:DataReserveIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addReserve">
      <wsdl:input message="tns:addReserveSoapIn" />
      <wsdl:output message="tns:addReserveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="delReserve">
      <wsdl:input message="tns:delReserveSoapIn" />
      <wsdl:output message="tns:delReserveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateReserve">
      <wsdl:input message="tns:updateReserveSoapIn" />
      <wsdl:output message="tns:updateReserveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addClient">
      <wsdl:input message="tns:addClientSoapIn" />
      <wsdl:output message="tns:addClientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="delClient">
      <wsdl:input message="tns:delClientSoapIn" />
      <wsdl:output message="tns:delClientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateClient">
      <wsdl:input message="tns:updateClientSoapIn" />
      <wsdl:output message="tns:updateClientSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginRecepcionist">
      <soap:operation soapAction="http://tempuri.org/LoginRecepcionist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginClient">
      <soap:operation soapAction="http://tempuri.org/LoginClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="allClients">
      <soap:operation soapAction="http://tempuri.org/allClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataRecepcionist">
      <soap:operation soapAction="http://tempuri.org/DataRecepcionist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataClient">
      <soap:operation soapAction="http://tempuri.org/DataClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataReserve">
      <soap:operation soapAction="http://tempuri.org/DataReserve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataReserveId">
      <soap:operation soapAction="http://tempuri.org/DataReserveId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addReserve">
      <soap:operation soapAction="http://tempuri.org/addReserve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delReserve">
      <soap:operation soapAction="http://tempuri.org/delReserve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateReserve">
      <soap:operation soapAction="http://tempuri.org/updateReserve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addClient">
      <soap:operation soapAction="http://tempuri.org/addClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delClient">
      <soap:operation soapAction="http://tempuri.org/delClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateClient">
      <soap:operation soapAction="http://tempuri.org/updateClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginRecepcionist">
      <soap12:operation soapAction="http://tempuri.org/LoginRecepcionist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginClient">
      <soap12:operation soapAction="http://tempuri.org/LoginClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="allClients">
      <soap12:operation soapAction="http://tempuri.org/allClients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataRecepcionist">
      <soap12:operation soapAction="http://tempuri.org/DataRecepcionist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataClient">
      <soap12:operation soapAction="http://tempuri.org/DataClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataReserve">
      <soap12:operation soapAction="http://tempuri.org/DataReserve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataReserveId">
      <soap12:operation soapAction="http://tempuri.org/DataReserveId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addReserve">
      <soap12:operation soapAction="http://tempuri.org/addReserve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delReserve">
      <soap12:operation soapAction="http://tempuri.org/delReserve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateReserve">
      <soap12:operation soapAction="http://tempuri.org/updateReserve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addClient">
      <soap12:operation soapAction="http://tempuri.org/addClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delClient">
      <soap12:operation soapAction="http://tempuri.org/delClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateClient">
      <soap12:operation soapAction="http://tempuri.org/updateClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44319/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44319/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>